@charset "UTF-8";
@use '@/styles/theme/element.scss';
@use '@/styles/theme/layout.scss';
@use 'sass:math';
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--xht-bg-color);
  color: var(--xht-text-color);
}

.user-select-none {
  user-select: none;
}
