@charset "UTF-8";
@use '@/styles/variables/var.scss' as *;
@use '@/styles/variables/var.dark.scss' as *;
@use '@/styles/theme/element.scss';
@use '@/styles/theme/layout.scss';
@use 'sass:math';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--xht-bg-color);
  color: var(--xht-text-color);
}

.user-select-none {
  user-select: none;
}
