// src/styles/variables.scss
$header-height: 50px;
$tags-height: 37px;
$footer-height: 30px;
$menu-width-64: 64px;
$menu-width-200: 200px;
$base-logo-title-color: #ffffff;
$base-logo-light-title-color: #001529;
$xht-menu-background: var(--xht-menu-background); // 菜单背景色
$xht-menu-text: var(--xht-menu-text); // 菜单文字颜色
$xht-menu-active-text: var(--xht-menu-active-text); // 菜单激活文字颜色
$xht-menu-hover: var(--xht-menu-hover); // 菜单悬停背景色
$xht-sidebar-logo-background: var(--xht-sidebar-logo-background); // 侧边栏 Logo 背景色
