@use '@/styles/variables/var.dark.scss';
@use 'sass:map';
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $table: (
    'header-bg-color': 'var(--el-table-row-hover-bg-color)',
    'header-text-color': 'var(--el-text-color-primary)',
  ),
  $table-padding: (
    'large': 8px 0,
    'default': 6px 0,
    'small': 2px 0,
  ),
  $table-cell-padding: (
    'large': 0 8px,
    'default': 0 6px,
    'small': 0 4px,
  )
);

:root {
  // border 相关
  --xht-border-radius-base: 4px;
  --xht-border-radius-small: 2px;
  --xht-border-radius-round: 20px;
  --xht-border-radius-circle: 100%;
}

:root {
  color-scheme: light;

  //全局样式
  --xht-text-color: #303133;
  --xht-bg-color: #ffffff;
  --xht-main-bg-color: #f8f8f8;
  --xht-card-bg-color: #ffffff;
  --xht-card-border-color: #e4e7ed;
  --xht-button-hover-bg-color: rgb(0 0 0 / 10%);
  --xht-bg-header-color: #ffffff !important;

  // 菜单相关
  --xht-menu-background: #ffffff;
  --xht-menu-text: #fff;
  --xht-menu-active-text: var(--el-color-primary);
  --xht-menu-hover: rgb(0 0 0 / 20%);
  --xht-sidebar-logo-background: rgb(0 0 0 / 20%);

  --xht-fill-color-blank: #ffffff;
  --xht-border-color: #e4e7ed;
  --xht-border-color-light: #e4e7ed;
  --el-fill-color-light: #f5f7fa;
  --xhe-split-menu-bg-color: #f5f5f5;
  --xht-menu-bg-color: var(--xht-fill-color-blank);
  --xht-header-bg-color: var(--xht-fill-color-blank);
  --xht-tag-bg-color: var(--xht-fill-color-blank);
  --xht-page-bg-color: #f2f3f5;
  --xht-hover-bg-color: #f5f7fa;
}
