/*新增：去除bpmn画布点击后的焦点边框*/
.djs-container:focus,
.djs-container svg:focus,
.bjs-container:focus {
  outline: none !important;
}

.djs-minimap {
  top: 10px !important;
  right: 10px !important;
}

/* 修改小地图尺寸 size */
.djs-minimap .map {
}

/*  隐藏展开/收起按钮 toggle */
.djs-minimap .toggle {
  display: none !important;
}

.el-collapse-item.is-disabled {
  .el-collapse-item__header {
    cursor: pointer !important;
  }
}

.bjs-powered-by {
  display: none;
}

.djs-container {
  overflow: visible !important;

  .djs-overlay-container {
    z-index: 9;
  }
}

.bpmn-viewer-container {
  overflow: visible;
  height: 100%;
  width: 100%;
  background-color: #ffffff;

  .bpmnCanvas {
    .bjs-container {
      overflow: visible;
      padding: 0;

      .djs-container {
        overflow: visible !important;

        .djs-overlay-container {
          z-index: 9;
        }
      }
    }
  }

  --bpmn-finished-color: rgb(149, 212, 117);
  --bpmn-unfinished-color: rgb(238, 190, 119);
  --bpmn-rejected-color: rgb(248, 152, 152);
  .highlight-finished-nodes{
    .djs-visual {

    }
  }
  .highlight-finished-lines{
    .djs-visual {

    }
  }
  .highlight-unfinished-tasks{
    .djs-visual {

    }
  }
  .highlight-rejected-tasks{
    .djs-visual {

    }
  }
}
