/* Input 输入框、InputNumber 计数器
------------------------------- */
// 修改数字输入框默认宽度为100%
.el-input-number {
  width: 100%;
}
.el-menu-item {
  height: 56px !important;
  line-height: 56px !important;
}

.el-menu--collapse {
  width: 64px !important;
}

.el-menu-item .menu-icon,
.el-sub-menu .menu-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  text-align: center;
  justify-content: center;
}

.custom-color-picker {
  .el-color-dropdown__link-btn {
    display: none !important;
  }

  .el-color-dropdown__btns {
    position: relative;
  }

  .el-color-dropdown__value {
    //添加一层挡板禁止输入
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      // 和父级宽度一致
      height: revert;
      width: 70%;
    }
  }
}
