@use '@/styles/variables' as *;

//=================== 抽屉 el-drawer 样式修改 ===================
.el-drawer__header {
  margin-bottom: 0 !important;
  padding-bottom: calc(var(--el-drawer-padding-primary) / 2) !important;
  border-bottom: 1px solid var(--el-border-color);
  user-select: none;
}

.el-drawer__footer {
  padding: 10px 20px;
  border-top: 1px solid var(--el-border-color);
  user-select: none;
}

//=================== 修改数字输入框默认宽度为100% ===================
.el-input-number {
  width: 100%;
}

//=================== 自定义颜色选择器样式 ===================
.custom-color-picker {
  .el-color-picker-panel__footer {
    justify-content: flex-end !important;

    .el-input {
      display: none;
    }

    .el-button:first-child {
      display: none;
    }
  }
}

//=================== 菜单样式修改 ===================
.el-menu--collapse {
  width: $menu-collapse-width !important;
}

.el-menu {
  border: none !important;
  user-select: none;

  .el-menu-item {
    height: 56px !important;
    line-height: 56px !important;

    &.is-active {
      background: var(--el-color-primary) !important;
      color: #ffffff;
    }
  }

  .el-menu--collapse {
    width: 64px !important;
  }

  .el-menu-item .menu-icon,
  .el-sub-menu .menu-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
  }
}

//=================== 表单控件样式修改 ===================
.el-form {
  user-select: none;
}

.el-form-item {
  margin-bottom: 8px !important;
}

//=================== 表格控件样式修改 ===================
.el-table__empty-text {
  user-select: none;
}
