//=================== 抽屉 el-drawer 样式修改 ===================
.el-drawer__header {
  margin-bottom: 0 !important;
  padding-bottom: calc(var(--el-drawer-padding-primary) / 2) !important;
  border-bottom: 1px solid var(--el-border-color);
  user-select: none;
}

.el-drawer__footer {
  padding: 10px 20px;
  border-top: 1px solid var(--el-border-color);
  user-select: none;
}

//=================== 修改数字输入框默认宽度为100% ===================
.el-input-number {
  width: 100%;
}

//=================== 自定义颜色选择器样式 ===================
.custom-color-picker {
  .el-color-dropdown__link-btn {
    display: none !important;
  }

  .el-color-dropdown__btns {
    position: relative;
  }

  .el-color-dropdown__value {
    //添加一层挡板禁止输入
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      // 和父级宽度一致
      height: revert;
      width: 70%;
    }
  }
}

.el-menu {
  border: none !important;

  .el-menu-item {
    &.is-active {
      background: var(--el-color-primary) !important;
      color: #ffffff;
    }
  }
}
