@use '@/styles/variables' as *;

//=================== 抽屉 el-drawer 样式修改 ===================
.el-drawer__header {
  margin-bottom: 0 !important;
  padding-bottom: calc(var(--el-drawer-padding-primary) / 2) !important;
  border-bottom: 1px solid var(--el-border-color);
  user-select: none;
}

.custom-drawer-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.el-drawer__footer {
  padding: 10px 20px;
  border-top: 1px solid var(--el-border-color);
  user-select: none;
}

//=================== 弹窗 el-dialog 样式修改 ===================
.el-dialog__header {
  padding-bottom: calc(var(--el-dialog-padding-primary) / 2) !important;
  border-bottom: 1px solid var(--el-border-color);
  user-select: none;
}

.el-dialog__body {
  padding: calc(var(--el-dialog-padding-primary) / 2) var(--el-dialog-padding-primary) !important;
}

.el-dialog__footer {
  padding: calc(var(--el-dialog-padding-primary) / 2) var(--el-dialog-padding-primary) !important;
  border-top: 1px solid var(--el-border-color);
  user-select: none;
}

//=================== 自定义颜色选择器样式 ===================
.custom-color-picker {
  .el-color-picker-panel__footer {
    justify-content: flex-end !important;

    .el-input {
      display: none;
    }

    .el-button:first-child {
      display: none;
    }
  }
}

//=================== 菜单样式修改 ===================
.el-menu--collapse {
  width: $menu-collapse-width !important;

  .el-menu-item {
    padding: 0 !important;
  }

  .el-menu-tooltip__trigger {
    padding: 0 !important;
    justify-content: center;
  }

  .el-sub-menu__title {
    padding: 0 !important;
    justify-content: center;

    span {
      display: none !important;
    }
  }
}

.el-menu {
  border: none !important;
  user-select: none;

  .el-menu-item {
    height: 56px !important;
    line-height: 56px !important;

    &.is-active {
      background: var(--el-color-primary) !important;
      color: #ffffff;
    }
  }

  .el-menu-item .menu-icon,
  .el-sub-menu .menu-icon {
    display: block;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
  }
}

//=================== 表单控件样式修改 ===================
.el-form {
  user-select: none;
}

.el-form-item {
  margin-bottom: 8px !important;
}

//=================== 表格控件样式修改 ===================
.el-table {
  flex: 1;

  .el-table__header {
    th {
      text-align: center;
      user-select: none;
    }
  }

  .el-table__row {
    td {
      text-align: center;
    }

    td.is-left {
      text-align: left !important;
    }
  }
}

.el-table__empty-text {
  user-select: none;
}

.el-tabs__item {
  user-select: none;
}

.el-tree-node {
  user-select: none;
}

.el-descriptions__label {
  user-select: none;
}
