@use '@/styles/variables.scss' as *;

$header-item-width: 40px !default;

.layout-padding {
  padding: 8px !important;
}

/* 主内容区动画 */
.main-view-animation-enter-active {
  transition: 0.6s;
}

.main-view-animation-leave-active {
  transition: 0.4s;
}

.main-view-animation-enter-from {
  margin-left: -20px;
  opacity: 0;
}

.main-view-animation-leave-to {
  margin-left: 20px;
  opacity: 0;
}

.xht-layout-container {
  width: 100%;
  height: 100%;

  .xht-header-container {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 0;
    background-color: var(--xht-header-bg-color);
    border-bottom: 1px solid var(--xht-border-color-light);

    .xht-header-item {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header-tool-item {
    padding: 2px;
    width: 36px;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: var(--el-color-primary);
      background-color: var(--xht-hover-bg-color);
    }
  }

  .tabs-box-container {
    background-color: var(--xht-tag-bg-color);
    width: 100%;
  }

  .xht-view-container-none {
    padding: 0 !important;
  }
  .xht-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px !important;
    background: var(--xht-bg-color);
    border: 1px solid var(--xht-border-color);
    border-radius: 6px;
    box-shadow: 0 0 12px #0000000d;

    .xht-view-main {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;
    }

    .xht-view-main-padding {
      padding: 10px;
    }
  }
}
