@use '@/styles/variables.scss';

$header-height: variables.$header-height !default;
$header-item-width: 40px !default;

.layout-container {
  width: 100%;
  height: 100%;

  .el-scrollbar {
    width: 100%;
  }

  .layout-container-view {
    height: 100% !important;

    .el-scrollbar__view {
      height: 100%;
    }
  }

  .layout-aside {
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 1;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;

    .el-scrollbar__view {
      overflow: hidden;
    }

    .el-menu {
      border: none;

      .el-menu-item {
        &.is-active {
          background: var(--el-color-primary-light-9) !important;
        }
      }
    }
  }

  .layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 0 3px 0 rgba(0, 0, 0, 0.06);
    height: auto !important;

    .layout-header-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .layout-header-container-top {
        height: 50px;
        display: flex;
        align-items: center;
        background: var(--next-bg-topBar);
        border-bottom: 1px solid var(--xht-border-color);

        .layout-main-breadcrumb {
          flex: 1;
          height: inherit;
          display: flex;
          align-items: center;
        }

        .layout-header-top-item {
          display: flex;
          height: $header-height;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: $header-item-width;
          opacity: 0.8;

          &:hover {
            opacity: 1;
            color: var(--el-color-primary);
            background-color: var(--xht-hover-bg-color);
          }
        }
      }

      .layout-header-container-bottom {
        background: var(--xht-bg-header-color);
        position: relative;
        height: 37px;
      }
    }
  }

  .header-container-tags {
    user-select: none;
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--xht-border-color);
    box-shadow:
      6px 2px 3px 0 rgb(0 0 0 / 12%),
      0 0 3px 0 rgb(0 0 0 / 6%);

    .tags-container {
      position: relative;
      width: 100%;
      display: flex;
      gap: 0;

      :deep(.el-scrollbar__view) {
        height: 100%;
      }

      .tags-container-view-tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        cursor: pointer;
        border-left: 1px solid var(--xht-border-color);
        z-index: 2;

        .tags-view-tool-icon-hover {
          &:hover {
            color: var(--el-color-primary) !important;
          }
        }
      }

      .tags-view-item {
        height: calc(100% - 8px);
        margin-left: 4px;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid var(--xht-border-color);
        border-radius: 2px;
        position: relative;
        padding: 0 6px 0 8px;
        display: flex;
        align-items: center;

        &:hover {
          color: var(--el-color-primary);
          background-color: var(--xht-hover-bg-color);
        }

        .tags-view-item-close {
          border-radius: 50%;
          opacity: 0.5;
          padding: 1px;
          margin-left: 5px;

          &:hover {
            background: #b4bccc;
          }
        }
      }

      .is-active {
        color: var(--el-color-white);
        background-color: var(--el-color-primary);
        border: 1px solid var(--el-color-primary);

        .tags-view-item-close {
          :deep(span) {
            color: var(--el-color-white) !important;
          }
        }
      }
    }
  }

  .layout-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    overflow: hidden;
    background-color: var(--xht-main-bg-color);

    // 内层 el-scrollbar样式，用于界面高度自适应（main.vue）
    .layout-main-scrollbar {
      display: flex;
      flex-direction: column;
      flex: 1;

      .layout-main-parent {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
      }
    }
  }

  .layout-footer {
    background-color: var(--xht-main-bg-color);
    height: variables.$footer-height;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.layout-padding {
  padding: 8px !important;
}

.layout-main {
  .main-container-none {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    @extend .layout-padding;
    flex: 1;
    flex-direction: column;
  }

  .main-container-scrollbar {
    overflow: hidden;
    height: 100%;
    @extend .layout-padding;
    flex: 1;
    flex-direction: column;
  }

  .main-container-auto {
    height: inherit;
    display: flex;
    flex: 1;
    flex-direction: column;
    @extend .layout-padding;
  }

  .main-container-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--xht-bg-color);
    border: 1px solid var(--xht-border-color);
    border-radius: var(--xht-border-radius-base);
  }
}
